<!-- PÁGINA RESPONSÁVEL POR LISTAR TODOS OS USUÁRIOS JÁ CADASTRADOS NO SISTEMA -->

<div class="container">
    <h3>Lista de Usuários Cadastrados</h3>

    <table class="table table-striped" width="100%">
        <tr>
            <th></th>
            <th>Id do Usuário</th>
            <th>Nome Completo</th>
            <th>E-mail Cadastrado</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <% _.each(users, function(user) { %>
        <tr data-id="<%= user.id%>" data-model="user">
            <% if (user.online) { %>
                <td><img src="https://i.imgsafe.org/fc9e72c587.png" alt="Usuário Online" /></td>
            <% } else { %>
                <td><img src="https://i.imgsafe.org/fca25204ff.png" alt="Usuário Offline" /></td>
            <% } %>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>

            <% if (user.admin) { %>
                <td><img src="https://i.imgsafe.org/f7c61b8ac7.png" alt="Administrador" /></td> 
            <% } else { %>    
                <td><img src="https://i.imgsafe.org/f7c2f97dcd.png" alt="Usuário" /></td> 
            <% } %>

            <td><a href="/user/showUser/<%= user.id %>" class="btn btn-sm btn-primary">Mostrar Perfil</a></td>
            <td><a href="/user/edit/<%= user.id %>" class="btn btn-sm btn-warning">Atualizar</a></td>
            
            <td><form action="/user/destroy/<%= user.id %>" method="POST">
				<input type="hidden" name="_method" value="delete"/>
				<input type="submit" class="btn btn-sm btn-danger" value="Excluir"/>
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
			</form></td>
        </tr>
        <% }) %>
    </table>
</div>
